/**
    Copyright @gabyfle: 2024
    (lol, just kidding, my skills in CSS are not that good)
*/

body {
    color: #FFFFFF;
    background-color: #1C0D30;

    font-family: 'JetBrains Mono', serif;
    font-weight: bold;
    font-style: normal;

    margin: 0;
}

code {
    font-family: 'JetBrains Mono', serif;
    font-size: 14px;
}

header {
    text-align: center;

    margin: auto;
    padding: 10px 0;
}

header h1 {
    font-weight: normal;
}

header p {
    color: #AB7DDE;

    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: lighter;
    /* line-height: 10px;*/
}

p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: lighter;
}

a {
    color: #AB7DDE;

    text-decoration: none;
}

a:hover {
    color: #AB7DDE;
    text-decoration: underline;
}

header a {
    color: #AB7DDE;

    text-decoration: none;
}

header a:hover {
    color: #AB7DDE;
    text-decoration: underline;
}

header a:visited {
    color: #AB7DDE;
    text-decoration: none;
}

footer {
    color: #AB7DDE;
    text-align: center;

    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: lighter;
}

footer>.social,
footer>.social-link {
    flex: 1;
}

/** Projects styling */

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: space-evenly;
    row-gap: 10px;

    /* margin: 0 15px; */
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
}

.project {
    max-width: 720px;
}

.project * {
    flex: 1;
}

.project p {
    color: #AB7DDE;

    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: lighter;
}

.project-image {
    object-fit: contain;
    aspect-ratio: auto 720 / 300;
    max-width: 100%;

    margin: auto;

    border-radius: 10px;
}

.btn {
    display: inline-block;

    color: #1C0D30;
    text-decoration: none;
    text-align: center;

    padding: 10px;
    border-radius: 10px;
    border: 1px solid #AB7DDE;

    margin-right: 10px;

    background-color: #AB7DDE;
}

/** While hovering the #blog button, something fancy happens */
.btn:hover {
    background-color: #1C0D30;
    color: #AB7DDE;
}

/** Blog styling */

div.code {
    white-space: normal;
}

.posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: auto;
}

.post-content {
    text-align: justify;

    margin: auto;

    max-width: 800px;
}

.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    text-align: left;
}

.post-content ul {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: lighter;
}

.blog h2 {
    text-align: center;
}

.blog-header {
    background-color: #0c0514;
    color: #FFFFFF;

    text-align: center;

    padding: 15px;
}

.post {
    display: block;
}

.post .title,
.post .date {
    display: inline-block;

    margin-bottom: 0px;
}

.post .date {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: lighter;

    font-size: 12px;
}

/** Images styling */

.image {
    max-width: 350px;
    margin: 0 auto;
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the image */
.image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

/* Style for the caption */
.image figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.breadcrumb {
    margin: auto;
}

@media only screen and (max-width: 767px) {
    .content {
        margin: 15px;
    }
    .post-fix {
        display: block;
        margin: 0;
    }
}
