name: Deploy Website to my VPS
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Upload files to VPS
        uses: appleboy/scp-action@master
        with:
          host: ${{ env.VPS_HOST }}
          username: ${{ env.VPS_USERNAME }}
          port: 22
          key: ${{ env.SSH_PRIVATE_KEY }}
          source: "*"
          target: ${{ env.PATH }}
        env:
          PATH: ${{ secrets.PATH }}
          VPS_HOST: ${{ secrets.HOST }}
          VPS_USERNAME: ${{ secrets.USERNAME }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
