name: Deploy Website to my VPS

on:
  push:
    branches: [ main ]  # Adjust branch(es) to trigger deployment

jobs:
  deploy:
    runs-on: ubuntu-latest  # Or a runner OS matching your VPS environment

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Upload files to VPS
        uses: appleboy/scp-action@v1
        with:
          host: ${{ env.VPS_HOST }}
          username: ${{ env.VPS_USERNAME }}
          port: 22
          key: ${{ env.SSH_PRIVATE_KEY }}
          source: "*"
          target: ${{ env.PATH }}
        env:
          PATH: ${{ secrets.PATH }}
          VPS_HOST: ${{ secrets.HOST }}
          VPS_USERNAME: ${{ secrets.USERNAME }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
